{% load static %}
<nav class="navbar navbar-light" style="background-color: whitesmoke">
  <div class="container">
      <!-- Добавляем d-flex и align-items-center к контейнеру с логотипом и текстом -->
      <a class="navbar-brand d-flex align-items-center" href="{% url 'posts:index' %}">
          <img src="{% static 'img/logo.png' %}" width="60" height="60" class="d-inline-block align-top" alt="">
          <span style="margin-left: 10px; color: #262625;">сейчас</span> <!-- Отступ перед текстом в пикселях -->
    </a>
      {% with request.resolver_match.view_name as view_name %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}"
           href="{% url 'about:author' %}"
               style="color: #262625;"
        >
                Об авторе
        </a>
      </li>
        <li class="nav-item">
            <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}"
           href="{% url 'about:tech' %}"
               style="color: #262625;"
        >
        Технологии
        </a>
      </li>
      {% if request.user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link {% if view_name  == 'posts:post_create' %}active{% endif %}"
           href="{% url 'posts:post_create' %}"
                 style="color: #262625;"
        >
        Новая запись
        </a>
      </li>
          <li class="nav-item">
              <a class="nav-link {% if view_name  == 'users:password_change' %}active{% endif %}"
           href="{% url 'users:password_change' %}"
                 style="color: #262625;"
        >
        Изменить пароль
        </a>
      </li>
          <li class="nav-item">
              <a class="nav-link {% if view_name  == 'users:logout' %}active{% endif %}"
           href="{% url 'users:logout' %}"
                 style="color: #262625;"
        >
          Выйти
        </a>
      </li>
      <li>
        Пользователь: {{ user.username }}
      </li>
      {% else %}
          <li class="nav-item">
              <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}"
           href="{% url 'users:login' %}"
                 style="color: #262625;"
        >
          Войти
        </a>
      </li>
          <li class="nav-item">
              <a class="nav-link {% if view_name  == 'users:signup' %}active{% endif %}"
           href="{% url 'users:signup' %}"
                 style="color: #262625;"
        >
          Регистрация
        </a>
      </li>
      {% endif %}
    </ul>
    {% endwith %}
  </div>
</nav>
