{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}
  Подписки
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 mx-auto">
        {% if no_follows %}
          <p>Вы пока ни на кого не подписаны.</p>
        {% else %}
          {% include 'posts/includes/switcher.html' %}
          {% for post in page_obj %}
            <div class="mb-4">
              <article>
                <ul>
                  <li>
                    Автор: {{ post.author.get_full_name }}
                    <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
                  </li>
                  <li>
                    Дата публикации: {{ post.pub_date|date:"d E Y" }}
                  </li>
                </ul>
                {% thumbnail post.image "960x600" crop="center" upscale=True as im %}
                  <img class="card-img my-2 img-fluid" src="{{ im.url }}" style="width: 100%; height: auto;">
                {% endthumbnail %}
                <p>{{ post.text }}</p>
                <a href="{% url 'posts:post_detail' post.id %}">Подробная информация</a>
              </article>
              {% if post.group %}
                <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
              {% endif %}
              {% if not forloop.last %}
                <hr>
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="d-flex justify-content-center">
          {% include 'posts/includes/paginator.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
