{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}
  Подписки
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 mx-auto">
        {% include 'posts/includes/switcher.html' %}
      </div>
    </div>
    <div class="row">
      {% if no_follows %}
        <p>Вы пока ни на кого не подписаны.</p>
      {% else %}
        {% for post in page_obj %}
          <div class="col-md-8 mx-auto mb-4">
            <article>
              <ul class="list-unstyled">
                <li>
                  {{ post.author.get_full_name }}
                </li>
                <li>
                  {{ post.pub_date|date:"d E Y" }}
                </li>
              </ul>
              {% thumbnail post.image "960x600" crop="center" upscale=True as im %}
                <img class="card-img my-2 img-fluid" src="{{ im.url }}" style="width: 100%; height: auto;">
              {% endthumbnail %}
              <p>{{ post.text }}</p>
            </article>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'posts:post_detail' post.id %}"> подробная информация</a>
              </li>
              <li>
                {% if post.group %}
                  <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
                {% endif %}
              </li>
              <li>
                <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
              </li>
            </ul>
            {% if not forloop.last %}
              <hr>{% endif %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="d-flex justify-content-center">
          {% include 'posts/includes/paginator.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}