{% extends 'base.html' %}
{% load static %} 
{% block title %}
  Об авторе
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Артём Михайлов</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Я учусь программировать!</p>
        <p>C 2022 года студент Яндекс Практикума. Осваиваю backend на python. Спасибо за внимание!</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{% static 'img/art.jpeg' %}" width="300" height="300">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Мои работы на django</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <p><a href="127.0.0.1:8000">Главная страница проекта "Yatube"</a></p>
        <p><a href="http://127.0.0.1:8000/group/leo/">Страница с постами пользователя Лев Толстой</a></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Контакты для связи</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Git: github.com/artemmikh</p>
        <p>Телеграм: @artemmikh</p>
      </div>
    </div>
</div>
{% endblock %}  
