{% load static %} 
<html>
<!-- служебная часть -->
  <head>
    <!-- заголовок страницы -->
    <title>Страница «Технологии»</title>
    <!-- настраиваем служебную информацию для браузеров -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- загружаем Бутстрап -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
      img {
        max-width: 100%;
        max-height: 100%;
      }

      h1 {
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      h2 {
        margin-top: 40px;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Страница «Технологии»</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <p>На этой странице можно рассказать, какие программные инструменты вы применили для создания этого сайта, какие навыки вам помогли, с чем вы хорошо разобрались, а с чем — не очень. Картинки и нестандартные подходы приветствуются: эта страница может получиться очень интересной. </p>
          <p>Или нет...</p>
        </div>
      </div>
    </div>
    <footer class="border-top text-center py-3">
      <p> html шаблон взят с https://thecode.media/intro-bootstrap/</p>    
    </footer>
  </body>
</html>