{% extends 'base.html' %}
{% load static %}
{% block title %}
  о сайте
{% endblock %}
{% block content %}
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Мы заметили, что часто находимся в двух состояниях: либо в планировании и предвкушении будущего, либо в
          ностальгии о прошлом. Настоящий же момент порой несправедливо обделён вниманием.</p>
        <p>Поэтому мы создали пространство «Сейчас» — рассказывайте свои истории о том, что вас окружает именно в этот
          момент. Делитесь открытиями и фотографиями. И мы тоже будем!</p>
        <p>Всем «сейчас»!</p>
        <p>Авторы</p>
      </div>
    </div>
  </div>
{% endblock %}
